* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Nav-ul li {
  display: inline-block;
  margin-right: 10px;
}

.Nav-ul li a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  background-color: inherit;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.Nav-ul li a:hover {
  background-color: #088178;
}

.headings {
  /* position: absolute;
  top: 80px; */
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
  color: #1976d2;
  margin: 0;
  padding: 0;
}
/* CSS */
.footer {
  background-color: #e0e4f8;
  padding: 20px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease; /* Adding transition for smoother color change */
}

a:hover {
  color: #088178;
}

/* Styling for copyright text */
.copyright {
  margin-top: 20px;
  color: #777;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .mainBox {
    display: flex;
    flex-direction: column;
  }

  .footer {
    padding: 15px 0;
  }

  .container {
    width: 90%;
  }

  ul li {
    margin-bottom: 8px;
  }

  .copyright {
    margin-top: 15px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .footer {
    padding: 15px 0;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  ul li {
    margin-bottom: 8px;
  }

  .copyright {
    margin-top: 15px;
    font-size: 12px;
  }
}
